body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center; /* Aligns items horizontally */
  align-items: center; /* Aligns items vertically */
}
.container {
  background-color: white;
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Aligns items horizontally */
  align-items: center; /* Aligns items vertically */
   padding: 0px;/* Adds space inside the flexbox */
  width: 38%;
  border-radius: 15px; /* Rounds the corners */
  gap: 10px;
  margin-top: 0%;
}

.image-container {
  width: 1000px; /* Set container width */
  height: 412px; /* Set container height */
  overflow: hidden; /* Prevent overflow of image */
  border-radius: 12px;
  padding: 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prices {
  margin: 0;
  display: flex;
  gap: 15px;
  align-items: baseline;
}
.now {
  margin-top: 0%;
  font-weight: bolder;
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
}
.was {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.description {
  color: hsl(228, 12%, 48%);
}

.cart {
  margin-top: 0px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  color: white;
}

.cart img {
  width: 16px;
  height: 16px;
  padding-right: 5px;
}

.info{
  padding: 10px;
}